
<h2 class="text-center" style="color:gray;">Employee Details</h2>
<!-- Modal -->
<button type="button" class="btn btn-primary float-right mt-2 mb-2" data-target="#l" data-toggle="modal">Add</button>

<div class="modal fade" id="l" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

           <form #ref="ngForm"  class="register-form" id="register-form">
            <div class="form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-id-card" aria-hidden="true"></i></span>
              <!-- <label for="empid"><i class="fas fa-id-card"></i></label> -->
              <input type="text" name="empid" [(ngModel)]="data.empid" id="empid" placeholder="Your EmpId"/>
              </div>
              <p id="err" class="text-danger"></p>
          </div>
          <div class="form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="zmdi zmdi-account material-icons-name" aria-hidden="true"></i></span>
              <!-- <label for="empname"><i class="zmdi zmdi-account material-icons-name"></i></label> -->
              <input type="text" name="empname" [(ngModel)]="data.empname" id="empname"  placeholder="Your Employee Name">
              </div>
          </div>
          <div class="form-group">
              <!-- <label for="email"><i class="zmdi zmdi-email"></i></label> -->
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="zmdi zmdi-email" aria-hidden="true"></i></span>
              <input type="email" name="email" [(ngModel)]="data.email" id="email" placeholder="Your Email"  #ref3="ngModel" required pattern="[A-Za-z0-9]{4,100}@[A-Za-z]{3,8}[.][A-Za-z]{2,3}">
              </div>
              <p id="err1" class="text-danger"></p>
              <div class="text-warning" *ngIf="ref3.touched && ref3.errors?.required">
                *Email is Manditory
              </div>
              <div class="text-warning" *ngIf="ref3.errors?.pattern && ref3.invalid">
                *Email is invalid
              </div>
          </div>
          <div class="form-group">
              <!-- <label for="phone"><i class="fa fa-phone"></i></label> -->
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-phone" aria-hidden="true"></i></span>
              <input type="text" name="phone" [(ngModel)]="data.phone" id="phone" placeholder="Your Phone"  #ref7="ngModel" required pattern="[0-9]{10}">
              </div>
              <p id="err2" class="text-danger"></p>
              <div class="text-warning" *ngIf="ref7.touched && ref7.errors?.required">
                *phone is Manditory
              </div>
              <div class="text-warning" *ngIf="ref7.errors?.pattern && ref7.invalid">
               * plz enter correct number
              </div>
          </div>
          <div class="form-group">
            <label for="doj"><i class="fa fa-calendar-alt"></i></label>
            <input type="text" name="doj" onfocus="(this.type='date')" [(ngModel)]="data.doj" id="doj" placeholder="Date Of Joining"/>
        </div>
        <div class="form-group">
          <label for="dor"><i class="fa fa-calendar-alt"></i></label>
          <input type="text" name="dor" onfocus="(this.type='date')" [(ngModel)]="data.dor" id="dor" placeholder="Date Of Reliving"/>
      </div>

          <div class="form-group form-button text-right">
            <button type="button"  class="mr-2" data-dismiss="modal">Close</button>
              <!-- <input type="submit" name="signup" id="signup" class="form-submit" value="ADD"/> -->
              <button type="submit" (click)="adddata()">ADD</button>
          </div>
      </form>
</div>
</div>
</div>
</div>

 <table class="table table-hover" id="resNot">
  <thead class="table-head thead-light">
    <th>EmpID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Date Of Joining</th>
    <th>Date Of Reliving</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tr *ngFor="let data of userdata">
    <td>{{data.empid}}</td>
    <td>{{data.empname}}</td>
    <td>{{data.email}}</td>
    <td>{{data.phone}}</td>
    <td>{{data.doj}}</td>
    <td>{{data.dor}}</td>

    <td><button type="button"  data-target="#exampleModal"  data-toggle="modal" class="btn btn-info"   (click)="edit(data)">Edit</button></td>

    <td>
       <button type="button" class="btn btn-info" data-toggle="modal" data-target="#example">
        DELETE
      </button>

      <!-- Modal -->
      <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-body">
              Do you want to delete this?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
              <button type="button" class="btn btn-primary" (click)="delete(data)">YES</button>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <!-- <form [formGroup]="profileForm"]>
            <label>
              First Name:
              <input type="text" formControlName="firstname">
            </label>
            <label>
              Last Name:
              <input type="text" formControlName="lastName">
            </label>
          </form> -->


         <form #ref="ngForm">
          <div class="form-group" >
            <label for="empid"><i class="fas fa-id-card"></i></label>
            <input type="text" name="empid"  id="empid"[(ngModel)]="obj.empid" placeholder="Your EmpId">
        </div>
        <div class="form-group">
            <label for="empname"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input type="text" name="empname" id="empname" [(ngModel)]="obj.empname" placeholder="Your Employee Name"/>
        </div>
        <div class="form-group">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            <input type="email" name="email"  id="email" [(ngModel)]="obj.email" placeholder="Your Email"/>
        </div>
        <div class="form-group">
            <label for="phone"><i class="fa fa-phone"></i></label>
            <input type="text" name="phone" id="phone" [(ngModel)]="obj.phone" placeholder="Your Phone"/>
        </div>
        <div class="form-group">
          <label for="doj"><i class="fa fa-calendar-alt"></i></label>
          <input type="date" name="doj"  id="doj" [(ngModel)]="obj.doj" placeholder="Date Of Joining"/>
      </div>
      <div class="form-group">
        <label for="dor"><i class="fa fa-calendar-alt"></i></label>
        <input type="date" name="dor"  id="dor" [(ngModel)]="obj.dor" placeholder="Date Of Reliving"/>
    </div>

               <div class="form-group form-button text-right ">
                <button type="button"  class="mr-2" data-dismiss="modal">Close</button>
                <button type="submit" (click)="updatedata()">Update</button>

               </div>
              </form>


      </div>
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>




























<!-- <div class="modal fade" id="l" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #ref="ngForm" (ngSubmit)="marks(ref.value)">

          <div class="form-group">
            <div class="row">
              <div class="col-sm-3 text-right">
            <label for="x">RollNo</label>
          </div>
            <div class="col-sm-3">
            <input type="text" class="form-control" name="rollno" [(ngModel)]="rollno" id="x" #ref1="ngModel">

          </div>
        </div>
      </div>

      <button type="submit" class="float-right">Save</button>
     </form>
 -->

        <!-- <form #ref="ngForm" (ngSubmit)="updatedata()">

          <div class="form-group">

           <input type="text" class="form-control" name="empid" [(ngModel)]="empid" id="x1" #ref111="ngModel" placeholder="Enter EmpId"/>
            </div>

          <div class="form-group">
            <input type="text" class="form-control" name="name" [(ngModel)]="name" id="y2" #ref113="ngModel" placeholder="Enter Name">
             </div>

             <div class="form-group">

              <input type="text" class="form-control" name="email" [(ngModel)]="email" id="y3" #ref115="ngModel" placeholder="Enter Email">
               </div>
               <div class="form-group">
                <input type="text" class="form-control" name="phone" [(ngModel)]="phone" id="y2" #ref116="ngModel" placeholder="Enter Phone">
                 </div>
                 <div class="form-group">
                  <input type="date" class="form-control" name="dob" [(ngModel)]="dob" id="y2" #ref12="ngModel" placeholder="Enter DoB">
                   </div>
                   <div class="form-group">
                    <input type="text" class="form-control" name="phone" [(ngModel)]="phone" id="y2" #ref114="ngModel" placeholder="Enter Phone">
                     </div>
                     <div class="form-group">
                      <input type="date" class="form-control" name="datej" [(ngModel)]="datej" id="y2" #ref117="ngModel" placeholder="Enter Date Of Joining">
                       </div>
                       <div class="form-group">
                        <input type="date" class="form-control" name="dater" [(ngModel)]="dater" id="y2" #ref119="ngModel" placeholder="Enter Date Of Reliving">
                         </div>
               <div class="form-group form-button text-right ">
                <button type="button"  class="mr-2" data-dismiss="modal">Close</button>
                <button type="submit" >ADD</button>

               </div>
              </form> -->
<!--
      </div>
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
<table class="table table-hover">
  <thead class="table-head thead-light">
    <th>EmpId</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </thead>
</table> -->


































































<!-- <div class="jumbotron bg-secondary pt-3">
<h1 class="text-info text-center pb-3">User Details</h1>
<table class="table table-hover" id="resNot">
  <thead class="table-head thead-light">

      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>

  </thead>
  <tr *ngFor="let data of userdata">
    <td>{{data.name}}</td>
    <td>{{data.phone}}</td>
    <td>{{data.email}}</td>

    <td><button type="button" data-target="#exampleModal"  data-toggle="modal" (click)="edit(data)">Edit</button> </td>
    <td><button type="button"  (click)="delete(data)">Delete</button></td>
    </tr>
</table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #ref="ngForm" (ngSubmit)="updatedata()">

          <div class="form-group">

           <input type="text" class="form-control" name="name" [(ngModel)]="obj.name" id="x1" #ref111="ngModel" placeholder="Enter Name"/>
            </div>

          <div class="form-group">
            <input type="text" class="form-control" name="phone" [(ngModel)]="obj.phone" id="y2" #ref113="ngModel" placeholder="Enter Phone">
             </div>

             <div class="form-group">

              <input type="text" class="form-control" name="email" [(ngModel)]="obj.email" id="y3" #ref115="ngModel" placeholder="Enter Email">
               </div>
               <div class="form-group form-button text-right ">
                <button type="button"  class="mr-2" data-dismiss="modal">Close</button>
                <button type="submit" >Update</button>

               </div>
              </form>

      </div>
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div> -->
